.musics-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 24px;
    overflow: auto;
  }
  
  .musics-section .music-play {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    background-color: rgb(20, 20, 20);
    margin: 15px 20px;
    height: 260px;
    width: 200px;
    border-radius: 5%;
  }
  
  .musics-section .music-play .music-img {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    margin-top: 15px; /* Ajuste o espaçamento acima da imagem */
    height: 70%;
    width: 85%;
    background-color: aqua;
    border-radius: 5%;
  }
  
  .musics-section .music-play .music-img img {
    border-radius: 3%;
  }
  
  .musics-section .music-play .music-text-container {
    width: 100%; /* Garante que o texto ocupe a largura total */
    padding: 0 10px; /* Adiciona um padding para separar o texto das bordas */
  }
  
  .musics-section .music-play .music-title {
    margin-top: 10px;
    font-weight: 700;
    color: #fff;
  }
  
  .musics-section .music-play .music-subtitle {
    font-weight: 700;
    color: rgb(134, 134, 134);
  }
  